.container {
  max-width: 400px;
  margin: auto;
  border: 1px solid gray;
  padding: 10px 50px;
}
.title{
  text-align: center;
  margin-bottom: 10px;
}
.input{
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.message {
  display: inline-block;
  border: 1px solid gray;
  padding: 5px 10px;
  min-width: 170px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.date {
  font-style: italic;
  text-align: right;
  font-size: 10px;
  margin-bottom: 5px;
}
